.all-authors {
  margin-left: 245px;
  display: inline;
}

.paginator {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous,
.next {
  background-color: lightgrey;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

span {
  font-weight: bold;
  font-size: 25px;
}
