.all-authors {
  margin-left: 245px;
  display: inline;
}

.paginator {
  /* margin-top: 25px; */
  margin-left: 60rem;
  margin-top: 150px;
}

.previous, .next {
  background-color: lightgrey;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

