/* .main {
    display: flex;
    flex-direction: row;
    border: 3px solid lightgray;
    flex-shrink: 1;
}

.favorite-authors {
    border: 3px solid black;
    display: flex;
    flex-basis: 25%;
}
.all-authors {
    border: 3px solid green;
    flex-grow: 1;
    flex-basis: 75%;
} */

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  